{% load staticfiles %}


  <footer class="footer">
  <div class="footer__content">
    <div class="advertising">
     <img class="advertising__img" src="{% static 'img/logo_adv.png' %}" alt="">
      <div class="advertising__list">
        <a class="advertising__list-link" href="https://divtop.ru/">divtop.ru</a>
        <p class="advertising__list-text">Разработка сайтов</p>
      </div>
    </div>
    <div class="copyright">
      <p class="copyright__text">2020 | © Все права защищены</p>
    </div>
  </div>

</footer>
