{% extends 'base.html' %}
{% load static %}

{% block thanks %}

      <section id="home" class="section section--home">
        <div class="container">
                     <div class="content__title">
                <h1 class="content__title-slogan">
                  спасибо за заявку, <span>{{ name }}</span>
                </h1>
                <p class="content__title-description">
       В ближайшее время мы с вами свяжемся.
                </p>
              </div>
        </div>
      </section>
{% endblock %}
